{% form_theme form 'dlouhyAdminTemplateBundle:Form:bootstrap.html.twig' %}
{% import "dlouhyAdminTemplateBundle:Macro:macros.html.twig" as macros %}
<div class="form-content" id="gallery">
	<div class="clearfix top10 bottom15">		
		<table class="table table-striped">
					
		{% for fileForm in form.files %}   
			{% set f = fileForm.vars.data %}
			
			<tr>
				<td class="col-sm-7">
					<h4><a class="" href="{{ f.getWebPath() }}" target="_blank"><i class="fa fa-file"></i> {{ f.getPath() }}</a></h4>
					<p>{{ macros.size(f.size) }}</p>
				</td>
				<td class="col-sm-3">					

					{{ form_widget(fileForm) }}			
					{{ form_widget(form.main[f.getId()]) }}
					
				</td>				
				
				<td class="col-sm-2 text-right">
					<a href="{{ path(deleteRoute, {'id': parent.getId(), 'fileId': f.getId()}) }}" 
					   class="btn btn-margin btn-danger btn-xs btn-confirm btn-delete" 
					   type="button"
					   data-confirm="modal" 
					   data-confirm-title="Potvrzení smazání" 
					   data-confirm-text="Opravdu si přejete smazat obrázek?" 
					   data-confirm-ok-class="btn-primary" 
					   data-confirm-ok-text="Ano" 
					   data-confirm-cancel-text="Ne" 
					   data-confirm-cancel-class="btn-warning" 
					   data-ajax="on">
						Smazat</a>
				</td>
			</tr>
		{% endfor %}			
		</table>		
		<br />		
		
		{{ form_rest(form) }}
	</div>
</div>